*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5e6d3; /* Beige */
    color: #3b1f1f;
    line-height: 1.6;
}

header{
    background-color: #4c1d23; /* Bordó */
    color: #f5e6d3;
    padding: 25px;

    /* FLEX */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

/* ===== LOGO ===== */
body header img {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 3px solid white;
}

/* ===== TITULO ===== */
header h1{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

/* ===== NAV ===== */
nav ul{
    list-style: none;

    display: flex;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: #f5e6d3;
    font-weight: bold;
    font-size: 1rem;

    padding: 8px 14px;
    border-radius: 8px;

    transition: 0.3s;
}

nav a:hover{
    background-color: #f5e6d3;
    color: #6d0f1b;
}

/* ===== SECCIONES ===== */
section{
    width: 90%;
    max-width: 1100px;

    margin: 30px auto;

    background-color: #fffaf4;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

section h2{
    color: #6d0f1b;
    margin-bottom: 20px;

    border-bottom: 3px solid #6d0f1b;
    padding-bottom: 8px;
}

section h3{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4a2323;
}

/* ===== TABLA ===== */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th{
    background-color: #6d0f1b;
    color: #f5e6d3;
    padding: 12px;
}

table td{
    padding: 10px;
    text-align: center;
    border: 1px solid #d8c3b0;
}

table tr:nth-child(even){
    background-color: #f3e2d2;
}

tfoot td{
    background-color: #8a1c2d;
    color: white;
    font-weight: bold;
}

form fieldset legend label input button{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #6d0f1b;
    color: #f5e6d3;
    padding: 12px;
}


/* ===== LISTAS ===== */
ol, ul{
    margin-left: 25px;
    margin-top: 10px;
}

li{
    margin-bottom: 8px;
}

form fieldset{
    margin-left: 25px;
    margin-top: 10px;
}


li{
    margin-bottom: 20px;
}

/* ===== DEFINICIONES ===== */
dl dt{
    margin-top: 15px;
    color: #6d0f1b;
}

dl dd{
    margin-left: 20px;
    color: #5a4a42;
}

/* ===== FOOTER ===== */
footer{
    background-color: #6d0f1b;
    color: #f5e6d3;

    text-align: center;

    padding: 20px;
    margin-top: 40px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px){

    nav ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    header h1{
        font-size: 1.5rem;
    }

    table{
        font-size: 0.9rem;
    }
}

